{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="loginmain">
        <div class="logincontainer">
            <section class="loginwrapper">
                <div class="loginheading">
                    <center><img src="{% static 'img/logo.jpg' %}" alt="" class="imglogo"></center>
                    <!-- <p class="text text-normal">New user? <span><a href="#" class="text text-links">Create an account</a></span> -->
                    </p>
                </div>
                <form name="signin" action="{% url 'accounts:login' %}" class="form" method='post'>
                    {% comment %} {% csrf_token %} {% endcomment %}
                        <!-- Email input start -->
                    <!-- <div class="input-control">
                        <label for="email" class="input-label" hidden>Email Address</label>
                        <input type="email" name="email" id="email" class="input-field" placeholder="Email Address"> 
                    </div>     -->
                        <!-- username input -->
                    {% csrf_token %}
                    <div class="input-control">
                        <label for="text"  class="input-label" hidden>Username</label>
                        <input type="text" name="username" id="email" class="input-field" placeholder="Username">
                    </div>
                    <div class="input-control">
                        <label for="password" class="input-label" hidden>Password</label>
                        <input type="password" name="password" id="password" class="input-field" placeholder="Password">
                        
                    </div>
                    <div class="input-control">
                        <a href="#" class="text text-links" style="padding-top: 1rem;">Forgot Password</a>
                        <input type="submit" name="submit" class="input-submit" value="Sign In" style="padding: 0.3rem;" >
                        {% comment %} <a href="{% url 'accounts:show' %}"  name="submit" class="input-submit"  style="padding: 0.3rem;" >Sign In</a> {% endcomment %}
                    </div>
                </form>
                <div class="striped">
                    <span class="striped-line"></span>
                    <span class="striped-text">Or</span>
                    <span class="striped-line"></span>
                </div>
                <div class="method">
                    <div class="method-control">
                        <a href="#" class="method-action">
                            <i class="fa-brands fa-google fa-fade" style="color: #e60000; padding-right: 1rem;" ></i>
                            <span>Sign in with Google</span>
                        </a>
                    </div>
                    <div class="method-control">
                        <a href="#" class="method-action">
                            <i class="fa-brands fa-facebook fa-fade" style="color: #4400ff;"></i>
                            <span>Sign in with Facebook</span>
                        </a>
                    </div>
                    <div class="method-control" style="padding-bottom: 1rem;">
                        <a href="#" class="method-action">
                            <i class="fa-brands fa-telegram fa-fade" style="color: #0561ff;"></i>
                            <span>Sign in with Telegram</span>
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}